.mainCont {
  display:flex;
  flex-wrap:wrap;
  /*justify-content: space-evenly;*/
  margin-bottom: 50px;

}
.titleBump {
  line-height: 30px;
}
.buttonOrganizer {
  display:flex;
  justify-content: space-between;
  padding:3px;
}
.avatarFix {
  width:35px;
  height:auto;
  border-radius: 50%;
  margin-right: 5px;
}
.child {
  width:350px;
  margin:10px;

}
.dropdown {
  background-color: lightgray;

}
.childDrop {
  width:350px;
  margin:10px;
  height:100px;
  background-color: lightgray;
}
.loaderContainerThree {
  min-height:800px;
  background-color: black;
}
.loaderImageThree {
  position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.loaderTextThree {
  text-align: center;
}
.cardStyle {
  margin-bottom: 10px;
}
