.mainCont {
  display:flex;
  flex-wrap: wrap;

}
.child {
  width:350px;
  margin:10px;

}
.dropdown {
  background-color: lightgray;

}
.childDrop {
  width:350px;
  margin:10px;
  height:100px;
  background-color: lightgray;
}
