.buttonBox {
  width:100%;
  background-color: lightgray;
}
.layout {
  /*width:100%;*/
  min-height: 500px;
  margin-left: 2%;
  margin-right: 2%;
}
.loaderContainerTwo {
  min-height:800px;
  background-color: black;
}
.loaderImageTwo {
  position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.loaderTextTwo{
  text-align: center;
}
.issueButtons {
  display:flex;
  justify-content:space-evenly;
  border-bottom:2px solid black;
  padding-bottom: 10px;
  padding-top: 10px;

}
.buttonPos {
  display:flex;
  justify-content: center;
}
