.button {

  width: 100%;
  margin-bottom: 2px;

}

.repoButton {
  color: #f00;
  background-color: #59ffd8;

}
.navMargin {
  margin-left: 61%;
}
.show {
  visibility: none;
}
.hide {
  visibility: hidden;
}
