.form {

  background-color: #59ffd8;
  border-radius: 20px;
  padding: 15px;

}

.input {
  border-bottom: 1px solid black;
}

.button{

  width: 100%;
  margin-top: 15px;
  margin: auto;
}
.logo {
  margin-left: 25%;
}
.formFix {
  margin-left: 23%;
}
.backFix {
  height:750px;
  background: black;
}
