
.card {
  width:70%;
  margin-left: 15%;
  margin-right: 15%;
  background-color: lightgray;
  color:black;
  font-weight: bold;
  text-align: center;
  min-height: 25px;
  margin-bottom: 8px;
  padding:10px;
  border-color: aqua;
  border-style: solid;
  border-width: 3px;
  border-radius: 8px;
}
.commentText {
  font-style: italic;
}
.headerText {
  width:70%;
  margin-left: 15%;
  margin-right: 15%;
  color: White;
  margin-bottom: 10px;
  text-align: center;
}
.eventBuffer {
  margin-bottom: 10%;
}
.displayMore {
  border: aqua solid 2px;
  margin-bottom: 100px;
  margin-left: 31%;
  cursor: pointer;
}
.loaderContainer {
  min-height:800px;
  background-color: black;
}
.loaderImage {
  position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.loaderText {
  text-align: center;
}
.refreshButt {
  border: aqua solid 2px;
  width:50px;
  margin-top: 5px;
  margin-left: 48%;
  cursor: pointer;
}
