.container {
  color: #333;
  display: grid;
  height: 70vh;
  padding-top: 15px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "q1 q2"
    "q3 q4"; 
}

.checkBox {
  float: left;
}

.userStory {
  width: 100%;
  max-height: 25px;
}

.title {
  float: left;
  width: 93%;
  margin-left: 3px;
  overflow: hidden;
  max-height: 25px;
}

.date {
  overflow: hidden;
  max-height: 25px;
  width: 35%;
  float: right;
}


.quadrant {
  height: 72%;
  padding: 5px 5px 0 5px;
  overflow-y: auto;
}

.banner1 {
  overflow: hidden;
  border-radius: 9px 8px 0 0;
  padding-left: 5px;
  color: #fff;
  height: 24px;
  width: 100%;
  background: #fb9191;
}

.banner2 {
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  padding-left: 5px;
  color: #fff;
  height: 24px;
  width: 100%;
  background: #97e387;
}

.banner3 {
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  padding-left: 5px;
  color: #fff;
  height: 24px;
  width: 100%;
  background: #7bc2f8;
}

.banner4 {
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  padding-left: 5px;
  color: #fff;
  height: 24px;
  width: 100%;
  background: #b4b4b4;
}

.q1 {
  min-height: 50px;
  margin: 8px;
  border: 2px solid #fb9191;
  background: #f6cdcd;
  border-radius: 10px;
  grid-area: q1;
}

.q2 {
  min-height: 50px;
  margin: 8px;
  border: 2px solid #97e387;
  background: #cce7c7;
  border-radius: 10px;
  grid-area: q2;
}

.q3 {
  min-height: 50px;
  margin: 8px;
  border: 2px solid #7bc2f8;
  background: #deedf8;
  border-radius: 10px;
  grid-area: q3;
}

.q4 {
  min-height: 50px;
  margin: 8px;
  border: 2px solid #b4b4b4;
  background: #ececec;
  border-radius: 10px;
  grid-area: q4;
}