.background {
  background-color: white;
}
.container {
  display:flex;
  flex-wrap: wrap;
  background-color: lightgray;
}
.child {
  margin:15px auto auto auto;
}

a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: purple;
}
.title {
  text-align: center;
  margin-left: 2%;
}
